	html, body
	{
		height: 100%;
	}
	
	body
	{
		background: #fefac0;
	}
		
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
input[type="text"],
input[type="password"],
input[type="email"]{
		width : 200px;
		height : 30px;
		border : 3px solid #999;
		margin-top : 2px;

}

	

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
			background-color : white;
			border: solid 1px;
			border-radius: 25px;
			padding: 50px 50px 30px 70px; 
			width:30%;
			box-shadow: 3px 3px 3px 3px gray;
		}
		
			form label
			{
				border : 3;
				display: block;
				text-align: center;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				background: #67128F;
				border-radius: 8px;
				line-height: 1.5em;
				font-size: 1.3em;
			}
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.5em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 40px;
		text-align: center;
		color: #FFFFFF;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		background: #000000;
		width : 300px;
		height : 40px;
		font-weight: 400;
		font-size: 0.8em;
		color: #FFF;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #261300;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 1em 0em;
		background-color : #fefac0;
		height : 120px;
		border-bottom: solid #808080 5px;
		width : 100%;

		
	}

	#header
	{
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 1em 0em;
		text-align: center;
	}
	
	#logo h1
	{
		font-size: 2.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #800000;
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color:#800000v;
	}

	#logo span a
	{
		color: #800000;
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
	}
	
	#menu ul
	{
		text-align: center;
		color: #800000;

	}
	
	#menu li
	{
		display: inline-block;
		color: #800000;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 0em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #800000;
		font-weight : bold;
		font-family: 'Sunflower';
	}
	
/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}

	#wrapper2
	{
		background: #fefac0;
	}

	#wrapper3
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
	#wrapper4
	{
		overflow: hidden;
		padding: 8em 0em 4em 0em;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1000px;
		padding: 8em 100px 8em 100px;
		text-align: center;
		color: rgba(0,0,0,0.6);
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#welcome a,
	#welcome strong
	{
		color: rgba(0,0,0,0.8);
	}
